/* EventList.module.css */

.swiperContainer {
  width: 100%;
  height: auto; /* コンテンツに合わせて高さを自動調整 */
  padding: 20px 0; /* 上下の余白 */
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* コンテンツに合わせて高さを自動調整 */
}

.empty {
  color: #777;
  text-align: center;
  padding: 20px;
}
