:root {
  font-size: 16px; /* 中サイズをデフォルトとする */

  /* カラーパレット */
  --color-primary: #34495e; /* 深い森の緑のような、落ち着いた濃い青緑 */
  --color-secondary: #7f8c8d; /* 中間のグレー */
  --color-accent: #82b74b; /* 若葉のような、明るく優しい緑 */
  --color-accent-dark: #6a9b3e; /* 少し深みのある緑 */
  --color-sky: #87ceeb; /* 澄んだ空のような、明るい空色 */
  --color-background-light: #f8f9fa; /* 非常に明るいグレー */
  --color-background-card: #ffffff; /* 白 */
  --color-border: #dcdcdc; /* 明るいグレー */
  --color-white: #ffffff; /* 純粋な白 */
  --color-black: #000000; /* 純粋な黒 */
}

.font-size-small {
  font-size: 14px;
}

.font-size-medium {
  font-size: 16px;
}

.font-size-large {
  font-size: 20px;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}